body{
    background-color: darkslategray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    direction: rtl;
    text-align: center;
}
.sex{
    font-size: 3.5rem;
    color: #ff6b6b;
    margin-bottom: 25px ;
    text-shadow: 0 0 20px rgba(255, 107, 107, 0.5);
    animation: glow 2s ease-in-out infinite alternate;
}

atkeyframes glow{
    from{text-shadow: 0 0 20px rgb(255, 107, 107, 0.5);};
    to {text-shadow: 0 0 30px rgb(255, 107, 107, 0.8), 0 0 40px rgba(255, 107, 107, 0.5);};
}

&atmedia (max-width){.sex{font-size:torem;};};

.container{
    width: 90%;
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
.players-form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.players-input input{
    display: block;
    width: 90%;
    margin: 8px auto;
    padding: 6px;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    width: 300px;
    border-radius: 15px;
    background-color: darkorange;
}

.hidden{
    display: none;
}

.board{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 4px;
    margin: 20px 0;
}

.cell{
    width: 100%;
    padding-top: 100%;
    background:#ddd;
    border-radius: 4px;
}

.question-box{
    background: white;
    padding: 15px;
    border-top: 20px;
    margin-top: 20px;
}

.winner{
    background-color: white;
    border-radius: 15px;

    font-size: 26px;
    color: darkorange;
    margin-top: 20px;
}
